<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" maxRequestLength="40000000" />
    </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="40000000" />
        <!--40MB-->
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".wexbim" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>
</configuration>
