<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0-beta1" targetFramework="net462" />
  <package id="FluentValidationNA" version="1.2.16" targetFramework="net462" />
  <package id="FSharp.Core" version="4.2.1" targetFramework="net462" />
  <package id="IntelliFactory.FastInvoke" version="0.0.6" targetFramework="net462" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="ManagedEsent" version="1.9.4" targetFramework="net462" />
  <package id="Microsoft.Experimental.Collections" version="1.0.3-alpha" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="ParallelExtensionsExtras" version="1.2.0.0" targetFramework="net462" />
  <package id="SharpDX" version="4.0.1" targetFramework="net462" />
  <package id="SharpDX.Mathematics" version="4.0.1" targetFramework="net462" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net462" />
  <package id="System.Data.SQLite" version="1.0.105.2" targetFramework="net462" />
  <package id="System.Data.SQLite.Core" version="1.0.105.2" targetFramework="net462" />
  <package id="System.Data.SQLite.EF6" version="1.0.105.2" targetFramework="net462" />
  <package id="System.Data.SQLite.Linq" version="1.0.105.2" targetFramework="net462" />
  <package id="System.Linq.Dynamic.Library" version="1.1.14" targetFramework="net462" />
  <package id="Xbim.Aim" version="1.0.1-ci-20170718-125356" targetFramework="net462" />
  <package id="Xbim.Aim.Edm" version="1.0.1-ci-20170707-075959" targetFramework="net462" />
  <package id="Xbim.DbScan" version="0.1.0-V005" targetFramework="net462" />
  <package id="Xbim.Essentials" version="4.0.29-V003" targetFramework="net462" />
  <package id="Xbim.Geometry" version="4.0.15-V0018" targetFramework="net462" />
  <package id="Xbim.IfcExtensions" version="1.0.1-ci-20170614-112547" targetFramework="net462" />
  <package id="Xbim.IO.IndexedFile" version="1.0.0-ci-20170717-135451" targetFramework="net462" />
</packages>