<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AK.System.Linq.Dynamic" version="1.1.20.1" targetFramework="net47" />
  <package id="EntityFramework" version="6.2.0-beta1" targetFramework="net462" />
  <package id="FluentValidationNA" version="1.2.16" targetFramework="net462" />
  <package id="FSharp.Core" version="4.2.2" targetFramework="net47" />
  <package id="IntelliFactory.FastInvoke" version="0.0.6" targetFramework="net462" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="ManagedEsent" version="1.9.4" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="net47" />
  <package id="Microsoft.Experimental.Collections" version="1.0.3-alpha" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging" version="1.1.2" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.1.2" targetFramework="net47" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net47" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="NETStandard.Library" version="1.6.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="ParallelExtensionsExtras" version="1.2.0.0" targetFramework="net462" />
  <package id="SharpDX" version="4.0.1" targetFramework="net462" />
  <package id="SharpDX.Mathematics" version="4.0.1" targetFramework="net462" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net462" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net47" />
  <package id="System.Collections" version="4.3.0" targetFramework="net47" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net47" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net47" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Console" version="4.3.0" targetFramework="net47" />
  <package id="System.Data.SQLite" version="1.0.105.2" targetFramework="net462" />
  <package id="System.Data.SQLite.Core" version="1.0.105.2" targetFramework="net462" />
  <package id="System.Data.SQLite.EF6" version="1.0.105.2" targetFramework="net462" />
  <package id="System.Data.SQLite.Linq" version="1.0.105.2" targetFramework="net462" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net47" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.3.0" targetFramework="net47" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net47" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net47" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net47" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="net47" />
  <package id="System.IO" version="4.3.0" targetFramework="net47" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net47" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net47" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net47" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Linq" version="4.3.0" targetFramework="net47" />
  <package id="System.Linq.Dynamic.Library" version="1.1.14" targetFramework="net462" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net47" />
  <package id="System.Linq.Parallel" version="4.3.0" targetFramework="net47" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="net47" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net47" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net47" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net47" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net47" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.Serialization.Xml" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net47" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net47" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net47" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net47" />
  <package id="System.Threading" version="4.3.0" targetFramework="net47" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net47" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net47" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net47" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net47" />
  <package id="System.Xml.XmlSerializer" version="4.3.0" targetFramework="net47" />
  <package id="Xbim.Aim" version="5.0.0-Beta-274" targetFramework="net47" />
  <package id="Xbim.Aim.Edm" version="1.0.1-ci-20170808-075304" targetFramework="net47" />
  <package id="Xbim.Common" version="5.0.0-Beta-248" targetFramework="net47" />
  <package id="Xbim.DbScan" version="0.1.0-V005" targetFramework="net462" />
  <package id="Xbim.Essentials" version="4.0.29-V006" targetFramework="net47" />
  <package id="Xbim.Geometry" version="4.0.15-V0021" targetFramework="net47" />
  <package id="Xbim.Geometry.Helpers" version="5.0.0-Beta-258" targetFramework="net47" />
  <package id="Xbim.Ifc2x3" version="5.0.0-Beta-250" targetFramework="net47" />
  <package id="Xbim.Ifc2x3.Extensions" version="5.0.0-Beta-251" targetFramework="net47" />
  <package id="Xbim.Ifc4" version="5.0.0-Beta-249" targetFramework="net47" />
  <package id="Xbim.IfcExtensions" version="1.0.1-ci-20170614-112547" targetFramework="net462" />
  <package id="Xbim.IO.FileModel" version="5.0.0-Beta-254" targetFramework="net47" />
  <package id="Xbim.IO.IndexedFile" version="1.0.0-ci-20170717-135451" targetFramework="net462" />
  <package id="Xbim.IO.MemoryModel" version="5.0.0-Beta-252" targetFramework="net47" />
</packages>