html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: linear-gradient(to top, 	#E8E8E8, white);
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.left-panel,
.right-panel {
    position: absolute;
    top: 40px;
    z-index: 1;
    padding: 2em;
    background-color: white;
    box-shadow: 0 0 10px darkgray;
    border-radius: 10px;
}

.left-panel {
    left: 20px;
    max-width: 300px;
}

.right-panel {
    right: 20px;
}

.left-panel > div,
.right-panel > div {
    margin-bottom: 0.8em;
}

#initScript{
    display: block;
    width: 100%;
    height: 80px;
}